<phpunit bootstrap="morrisonlevi_algorithm.phar" colors="true">

  <testsuites>
    <testsuite name="Unit-Tests">
      <directory>./test</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory>src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="test/coverage/clover.xml"/>
  </logging>

</phpunit>
